body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /*background-color: #e6e6e6;*/
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.image {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.image-body {
    margin-top: 25%;
    width: 66.7vh;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.image-heading {
    position: absolute;
}

.odin {
    color: white;
    margin: 10px;
}

.credits {
    margin-top: 85%;
    font-size: smaller;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.credits>p {
    color: #FFFF;
    opacity: 0.8;
}

.credits>a {
    opacity: 0.8;
}

#logo {
    opacity: 1;
    height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    cursor: pointer;
    color: rgb(0, 98, 255);
    text-decoration: solid black;
}

a:visited {
    text-decoration: none;
    color: rgb(241, 255, 242);
}

.form-container {
    height: 100vh;
    padding-left: 40px;
}

.right {
    margin-left: 20px;
    background-color: red;
}

.top {
    padding-top: 9%;
    padding-bottom: 1%;
    font-size: 1.5em;
    font-weight: bold;
}

#sentence {
    padding-top:10px;
}
#para > span{
display: block;
}

.middle {
    margin: 0px;
    padding-top: 15px; padding-bottom: 25px;
    padding-left: 25px;
   /*background-color: #FFFF;*/ 
    
}
form{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    padding-top: 5px;
}
#name,#contact{
    display: flex; flex-direction: column;
}
#contact > div{
    display: flex; flex-direction: column;
}
#name > div{
    display: flex; flex-direction: column;
}
.bottom {
    padding-top: 20px;
}

button{
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.75em 2.5em;
    font-weight: bold;
}

p {
    margin: 0;   
}


