body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:'Noto Sans JP', sans-serif;;
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
}

.image {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.image-body {
    margin-top: 15%;
    width: 66.7vh;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.image-heading {
    position: absolute;
}

.odin {
    color: white;
    margin: 10px;
}

.credits {
    margin-top: 99%;
    font-size: 0.7em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.credits>p {
    color: #FFFF;
    opacity: 0.4;
}

.credits>a {
    opacity: 0.6;
    color: white;
    text-decoration: none;
}
.credits>a:hover{
    text-decoration:solid underline;
}

#logo {
    opacity: 1;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.form-container {
    height: 100vh;
}

.top {
    padding-top: 3.7%;
    padding-bottom: 1%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #F9FAFB;
    padding-left: 35px;

}



#sentence {
    padding-top:10px;
}
#para > span{
display: block;
}

.middle {
    padding-top: 40px; padding-bottom: 50px; 
    padding-left: 35px;
    background-color: #FFFFFF;   
    box-shadow: rgba(0, 0, 0, 0.03125) 0px 27px 27.5px, rgba(0, 0, 0, 0.015) 0px -6px 15px, rgba(0, 0, 0, 0.015) 0px 2px 3px, rgba(0, 0, 0, 0.02125) 0px 6px 6.5px, rgba(0, 0, 0, 0.01125) 0px -1.5px 2.5px;
}
form{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    padding-top: 5px;
    font-size: 0.75em;
}
#name,#contact{
    display: flex; flex-direction: column;
}
#contact > div{
    font-size: 0.8em;     color: rgba(6, 6, 6, 0.898);
    letter-spacing: 0.1em;
    display: flex; flex-direction: column;
}
#name > div{
    font-size: 0.8em;     color: rgba(6, 6, 6, 0.898);
    letter-spacing: 0.1em;
    display: flex; flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]{
    border: 1.5px solid rgba(0, 0, 0, 0.2);
}

input[type="text"]:hover{
    border: 1px solid rgb(0, 81, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
input[type="email"]:hover{
    border: 1px solid rgb(0, 81, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
input[type="number"]:hover{
    border: 1px solid rgb(0, 81, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
input[type="password"]:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bottom {
    padding-top: 30px;
    padding-left: 35px;
    background-color: #f8f8f8;
    height: 100vh;

}

button{
    background-color: #596D48;
    border-radius: 0px;
    border: none;
    color: white;
    padding: 0.7em 1.5em;
    font-weight: bold;
}

button:hover{
    transition: 250ms;
    cursor: pointer;
    background-color: #809a6a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bottom>p{
    padding-top: 20px;
}
.bottom > p > span > a{
    color: #596D48;
    text-decoration: none;
}

.bottom > p > span > a:hover{
    color: #839f6b;
    transition: 250ms;
}

p {
    margin: 0;   
}


